.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  background-color: lightgray;
  border: 1px solid black;
  font-size: 15px;
  text-align: center;
}

.grid-item-title {
	  background-color: lightgray;
	  border: 1px solid black;
	  font-size: 15px;
	  font-weight: bold;
	  text-align: center;
}

/* Login */
body {font-family: Arial, Helvetica, sans-serif;}

form {
    margin: 4rem auto 0 auto;
    max-width: 50%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.fomulario {
	border: 1px solid gray;
  width: 100%;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.logo {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}
